In [2]:
try :
    print("x" + "4")
except :
    print("bir şeyler ters gitti")

x4

In [17]:
counter = 0

In [23]:
try :
    with open("ddddd.txt", "r", encoding = "utf-8") as file :
        print(file.read())
except FileNotFoundError :
    counter += 1
    with open("hata.txt", "a", encoding = "utf-8") as f :
        f.write("hatalı giriş sayısı : " + str(counter) + "\n")
    print("böyle bir dosya yok. hatalı dosya okuma kaydedildi.")

böyle bir dosya yok. hatalı dosya okuma kaydedildi.

In [ ]:
# hata.txt

In [3]:
with open("my_file11.txt", "r", encoding = "utf-8") as file :
    print(file.read())

FileNotFoundError: [Errno 2] No such file or directory: 'my_file11.txt'

In [26]:
try : 
    print("x" + "4")
except TypeError:
    print("Değeri yanlış")
else :
    print("demek ki exception yükselmemiş")
finally :
    print("nihayet ben çalıştım")

x4
demek ki exception yükselmemiş
nihayet ben çalıştım

In [27]:
try : 
    print("x" + 4)
except TypeError:
    print("Değeri yanlış")
else :
    print("demek ki exception yükselmemiş")
finally :
    print("nihayet ben çalıştım")

Değeri yanlış
nihayet ben çalıştım

In [28]:
try : 
    print("x" + 4)
except ValueError:
    print("Değeri yanlış")
else :
    print("demek ki exception yükselmemiş")
finally :
    print("nihayet ben çalıştım")

nihayet ben çalıştım

TypeError: can only concatenate str (not "int") to str

In [33]:
while True:
    try:
        no_one = int(input("The first number please : "))
        no_two = int(input("The second number please : "))
        division = no_one / no_two  # normal part of the program
    except ZeroDivisionError:
        print("You can't divide by zero! Try again.")  # executes when division by zero
    except ValueError :
        print("You can not enter other than number. Try again")
    else:
        print("The result of the division is : ", division)  # executes if there is no exception
    finally:
        print("Thanks for using our mini divison calculator! Come again!")
        break  # exits the while loop

The first number please : 5
The second number please : beş
You can not enter other than number. Try again
Thanks for using our mini divison calculator! Come again!

In [38]:
try:
    isim = input("isminiz :")
    a
except Exception as e:
    print(e)
    print(type(e))

isminiz :mm
name 'a' is not defined
<class 'NameError'>

In [52]:
try:
    isim = input("isminiz :")
    a
except Exception as e:
    with open("hata1.txt", "a", encoding = "utf-8") as joseph :
        joseph.write(isim + ",{}".format(e) + "\n")

isminiz :bahar

In [50]:
try:
    isim = input("isminiz :")
    4/0
except Exception as e:
    with open("hata1.txt", "a", encoding = "utf-8") as joseph :
        joseph.write(isim + ",{}".format(e) + "\n")

isminiz :kadir

In [49]:
try:
    isim = input("isminiz :")
    4 + ""
except Exception as e:
    with open("hata1.txt", "a", encoding = "utf-8") as joseph :
        joseph.write(isim + ",{}".format(e) + "\n")

isminiz :ayşe

In [48]:
try:
    isim = input("isminiz :")
    int("beş")
except Exception as e:
    with open("hata1.txt", "a", encoding = "utf-8") as joseph :
        joseph.write(isim + ",{}".format(e) + "\n")

isminiz :mehmet

In [54]:
import pandas as pd

In [56]:
df = pd.read_csv("hata1.txt")
df

      isim                                               hata
0   mehmet                            name 'a' is not defined
1    ahmet                                   division by zero
2    yeşim  unsupported operand type(s) for +: 'int' and '...
3   mehmet      invalid literal for int() with base 10: 'beş'
4   joseph                            name 'a' is not defined
5    yeşim                                   division by zero
6    ahmet  unsupported operand type(s) for +: 'int' and '...
7   joseph      invalid literal for int() with base 10: 'beş'
8   mehmet      invalid literal for int() with base 10: 'beş'
9     ayşe  unsupported operand type(s) for +: 'int' and '...
10   kadir                                   division by zero
11   selvi                            name 'a' is not defined
12   bahar                            name 'a' is not defined

In [58]:
df[df["hata"] == "name 'a' is not defined"]

      isim                     hata
0   mehmet  name 'a' is not defined
4   joseph  name 'a' is not defined
11   selvi  name 'a' is not defined
12   bahar  name 'a' is not defined

In [59]:
df[df["hata"] == "division by zero"]

     isim              hata
1   ahmet  division by zero
5   yeşim  division by zero
10  kadir  division by zero

In [60]:
df.isim.value_counts()

mehmet    3
ahmet     2
joseph    2
yeşim     2
selvi     1
bahar     1
ayşe      1
kadir     1
Name: isim, dtype: int64

In [61]:
xx = {"e" : 4, "b" : 2, "c" : 3, "f" : 1}

In [62]:
sorted(xx)

['b', 'c', 'e', 'f']

In [ ]:
# [("f", 1), ("b", 2), ("c", 3), ("e", 4)]

In [70]:
sorted(xx.items(), key = lambda x : x[1])

[('f', 1), ('b', 2), ('c', 3), ('e', 4)]

In [69]:
sorted(xx.items())[0]

('b', 2)

In [71]:
my_list = [1, 2, 3, 4, 5]

In [80]:
a = (x**2 for x in my_list)

In [75]:
list(a)

[1, 4, 9, 16, 25]

In [81]:
for i in a:
    print(i)

1
4
9
16
25

In [82]:
for i in a:
    print(i)

In [73]:
[x**2 for x in my_list]

[1, 4, 9, 16, 25]

In [83]:
sum(x**2 for x in my_list)

55

In [84]:
max(x**2 for x in my_list)

25

In [85]:
eski = [1,2,3]
yeni = eski

In [86]:
yeni

[1, 2, 3]

In [87]:
yeni.append("a")

In [88]:
yeni

[1, 2, 3, 'a']

In [89]:
eski

[1, 2, 3, 'a']

In [95]:
eskim = ["kedi", 0, 5, 6.7]

In [96]:
yenim = eskim.copy()

In [97]:
yenim.append("tavşan")

In [98]:
yenim

['kedi', 0, 5, 6.7, 'tavşan']

In [99]:
eskim

['kedi', 0, 5, 6.7]

In [100]:
yenim = eskim[:]  # copy() metodu ile aynı işlemi görüyor

In [101]:
yenim.append("dana")

In [102]:
yenim

['kedi', 0, 5, 6.7, 'dana']

In [103]:
eskim

['kedi', 0, 5, 6.7]

In [107]:
diller = ["fransızca", "ingilizce", "flemenkçe"]

In [108]:
diller2 = ["ispanyolca", "arapça"]

In [109]:
diller + diller2

['fransızca', 'ingilizce', 'flemenkçe', 'ispanyolca', 'arapça']

In [111]:
diller.extend(diller2)

In [112]:
diller

['fransızca', 'ingilizce', 'flemenkçe', 'ispanyolca', 'arapça']

In [113]:
dil_tuple = ("rusca", "almanca")

In [114]:
dil_küme = {"japonca", "çince"}

In [115]:
diller

['fransızca', 'ingilizce', 'flemenkçe', 'ispanyolca', 'arapça']

In [116]:
diller.extend(dil_tuple)

In [117]:
diller

['fransızca',
 'ingilizce',
 'flemenkçe',
 'ispanyolca',
 'arapça',
 'rusca',
 'almanca']

In [118]:
diller.extend(dil_küme)

In [119]:
diller

['fransızca',
 'ingilizce',
 'flemenkçe',
 'ispanyolca',
 'arapça',
 'rusca',
 'almanca',
 'japonca',
 'çince']

In [120]:
diller = ["python", "java", "c++", "fransız", "c"]

In [121]:
yeni_deger = diller.pop(3)

In [122]:
yeni_deger

'fransız'

In [123]:
diller

['python', 'java', 'c++', 'c']

In [124]:
diller.pop()

'c'

In [125]:
diller

['python', 'java', 'c++']

In [126]:
diller.pop(-3)

'python'

In [127]:
diller

['java', 'c++']

In [128]:
import os, glob

In [130]:
os.chdir("C:/Users/YD/pythonic")
for file in glob.glob("*.txt"):
    print(file)

dummy.txt
fishes.txt
flowers.txt
fruits.txt
hata.txt
hata1.txt
insan_siiri.txt
istiklal.txt
requirements.txt
requirements1.txt
rumi.txt
yaz.txt

In [131]:
# recursion, recursive

In [132]:
# 4! = 4*3*2*1 = 24

In [133]:
def facto(n):
    if n == 1 :
        return n
    else :
        return n * facto(n-1)

In [134]:
facto(4)

24