<img src="https://docs.google.com/uc?id=14xeXxFrVRjvOoUYWn_GuyE-v84wVzrqr" class="img-fluid" alt="CLRWY">

<h1><p style="text-align: center; color:darkblue">Python In-Class (Hands-on Training), <br>05 July 2020<br><br>Session - 11</p><h1>

### [Assignment (Leap Year)](https://lms.clarusway.com/mod/assign/view.php?id=4472)

In [16]:
year = int(input("dört rakamlı bir yıl giriniz :"))

dört rakamlı bir yıl giriniz :2100

In [17]:
leap = ((year % 4 == 0) and (year % 100 != 0)) or (year % 400 == 0)

In [14]:
print(leap)

True

In [ ]:
# 2400 is a leap year
# 2100 is not a leap year

In [11]:
False * "ahmet"

''

In [18]:
print(leap * f"{year} is a leap year")
print((not leap) * f"{year} is not a leap year")

2100 is not a leap year

### [Assignment (Comfortable Words)](https://lms.clarusway.com/mod/assign/view.php?id=4611)

In [19]:
left = {"q", "w", "e", "r", "t", "a", "s", "d", "f", "g", "z", "x", "c", "v", "b"}
right = {"y", "u", "i", "o", "p", "h", "j", "k", "l", "n", "m"}

In [42]:
word = "bugün benim doğum günüm"

In [43]:
set_word = set(word)

In [44]:
set_word

{' ', 'b', 'd', 'e', 'g', 'i', 'm', 'n', 'o', 'u', 'ü', 'ğ'}

In [39]:
bool(set_word.difference(right))

True

In [45]:
left_bool = bool(set_word.difference(left))
right_bool = bool(set_word.difference(right))

In [46]:
print(left_bool and right_bool)

True

### [Assignment (The Most Frequent Element)](https://lms.clarusway.com/mod/assign/view.php?id=4612)

In [58]:
numbers = [1, 3, 7, 4, 4, 3, 0, 3, 16, 4, 3, 7, 4, 4]

In [59]:
# key= "neye gore fonksiyonu calıstırmam lazım."

item = max(numbers, key = numbers.count)

repetition = numbers.count(item)

In [60]:
print("the most frequent number is {} and it was {} times \
repeated".format(item, repetition))

the most frequent number is 4 and it was 5 times repeated

In [ ]:
# the most frequent number is 3 and it was 4 times repeated

In [64]:
sehir = ["addis ababa", "tokyo", "rome", "istanbul"]

In [62]:
# key= neye gore sıralayacağız

len("rome")
sorted()

4

In [70]:
sorted(sehir, key = len)

['rome', 'tokyo', 'istanbul', 'addis ababa']

In [71]:
samanlık = ["yumurta", "saman", "tırpan", "tezek", "igne", "inek", "su", "tavuk"]

In [72]:
samanlık.index("igne")

4

>## `Tuple` kullanarak çoklu değer assign etmek

In [73]:
v = ("five", 5, True)

In [74]:
v

('five', 5, True)

In [75]:
x, y, z = 'five', 5, True

In [76]:
print(x, y, z, sep="\n")

five
5
True

In [77]:
(monday, tuesday, wednesday, thursday, friday, saturday,\
sunday) = tuple(range(1, 8))

In [81]:
list(range(1, 8))

[1, 2, 3, 4, 5, 6, 7]

In [79]:
tuple(range(1, 8))

(1, 2, 3, 4, 5, 6, 7)

In [82]:
[1, 2, 3, 4] + ["11", "22", 33]

[1, 2, 3, 4, '11', '22', 33]

In [83]:
tt = (1, 2, [1, 3, 5])
# "1"

In [84]:
tt

(1, 2, [1, 3, 5])

In [ ]:
# (1, 2, [1, 3, 5, "1"])

In [86]:
tt[2].append("1")

In [87]:
tt

(1, 2, [1, 3, 5, '1'])

In [88]:
items = (10, 20)

print(items)

(10, 20)

In [89]:
x, y = (10, 20)

print(x)
print(y)

10
20

In [90]:
a, _, b, _ = (10, 20, 30, 40)

In [91]:
print(a, b)

10 30

In [93]:
x, y, *z = (11, 22, 33, 44, 55, 66)

In [94]:
print(x)

11

In [95]:
print(y)

22

In [96]:
print(z)

[33, 44, 55, 66]

In [97]:
x, y, *_ = (11, 22, 33, 44, 55, 66)

In [98]:
print(x)

11

In [99]:
print(y)

22

In [104]:
x, y, *_, t = (11, 22, 33, 44, 55, 66)

In [105]:
print(t)

66

In [106]:
print(_)

[33, 44, 55]

In [113]:
no1 = 10000000000
no2 = 100000000

adding = no1 + no2

print(adding)
print(f"{adding:,}")

10100000000
10,100,000,000

In [111]:
no1 = 10_000_000_000
no2 = 100_000_000

adding = no1 + no2

print(adding)

print(f"{adding:,}")
print("{:,}".format(adding))

10100000000
10,100,000,000
10,100,000,000